.crew {
   background-image: url(../public/assets/crew/background-crew-mobile.jpg);
   background-size: cover;
   display: grid;
   grid-template-rows: min-content minmax(0, 1fr);
}

.role {
   color: rgba( var(--color-white), .5 );
}

.grid-container--crew {
   --flow-space: 2rem;
   grid-template-areas:
   'title'
   'image'
   'tabs'
   'content';
}

.grid-container--crew > .numbered-title {
   grid-area: title;
}

.grid-container--crew > .crew-image {
   grid-area: image;
   max-width: 60%;
}
.grid-container--crew > .crew-image span {
   border-bottom: 1px solid rgba( var(--color-white), .1 ) !important;
}

.grid-container--crew > .dot-indicator {
   grid-area: tabs;
}

.grid-container--crew > .crew-info {
   grid-area: content;
}
.grid-container--crew > .crew-info h2 {
   margin-bottom: clamp(0.5rem, 1.5vw, 1rem);
}
.grid-container--crew > .crew-info p:nth-child(2) {
   margin-bottom: clamp(1rem, 3vw, 1.75rem);
}

@media (min-width: 35em) {
   .crew {
      background-image: url(../public/assets/crew/background-crew-tablet.jpg);
      background-position: center center;
   }

   .grid-container--crew {
      grid-template-areas:
      'title'
      'content'
      'tabs'
      'image';
   }
}

@media (min-width: 45em) {
   .crew {
      background-image: url(../public/assets/crew/background-crew-desktop.jpg);
      max-height: 100vh;
   }

   .grid-container--crew > .crew-image {
      max-width: 100%;
      line-height: .8;
   }

   .grid-container--crew > *:not(.crew-image) {
      justify-self: start;
   }

   .grid-container--crew {
      --flow-space: 0;
      grid-template-columns: minmax(1rem, 1fr) minmax(0, 45rem) minmax(0, 35rem) minmax(1rem, 1fr);
      grid-template-rows: min-content 3fr 1fr;
      grid-template-areas:
      '. title title .'
      '. content image .'
      '. tabs image .';
   }
}