/* Destination layout */
.destination {
   background-image: url(../public/assets/destination/background-destination-mobile.jpg);
   background-size: cover;
}

.grid-container--destination {
   grid-template-areas:
      'title'
      'image'
      'tabs'
      'content';
}

.numbered-title {
   grid-area: title;
}

.grid-container--destination > .destination-image {
   grid-area: image;
   max-width: 60%;
}

.grid-container--destination > .tab-list {
   grid-area: tabs;
}

.grid-container--destination > .destination-info {
   grid-area: content;
}

.destination-meta {
   flex-direction: column;
   border-top: 1px solid rgba( var(--color-white), .2 );
   padding-top: 2.5rem;
   margin-top: 2.5rem;
}

.destination-meta p {
   font-size: 1.75rem;
}

@media (min-width: 35em) {
   .destination {
      background-image: url(../public/assets/destination/background-destination-tablet.jpg);
   }

   .numbered-title {
      justify-self: start;
      margin-top: 2rem;
   }

   .destination-meta {
      flex-direction: row;
      justify-content: space-evenly;
   }
}

@media (min-width: 45em) {
   .destination {
      background-image: url(../public/assets/destination/background-destination-desktop.jpg);
   }

   .destination-meta {
      justify-content: start;
      --gap: min(8vw, 5rem);
   }

   .grid-container--destination {
      grid-template-areas:
         '. title title .'
         '. image tabs .'
         '. image content .';
   }

   .grid-container--destination > .destination-image {
      max-width: 90%;
   }
}