/* Destination layout */
.destination {
   background-image: url(../public/assets/destination/background-destination-mobile.jpg);
   background-size: cover;
}

.grid-container--destination {
   --flow-space: 4rem;
   grid-template-rows: min-content min-content 1fr;
   grid-template-areas:
      'title'
      'image'
      'content';
}

.grid-container--destination > .destination-content {
   grid-area: content;
}

.numbered-title {
   grid-area: title;
}

.grid-container--destination > .destination-image {
   grid-area: image;
   max-width: 60%;
}

.grid-container--destination > .destination-content .tab-list {
   justify-content: center;
}

.grid-container--destination > .destination-content .destination-info h2 {
   margin-bottom: clamp(0rem, 1vw, 1rem);
}

.destination-meta {
   flex-direction: column;
   border-top: 1px solid rgba( var(--color-white), .2 );
   padding-top: 2.5rem;
   margin-top: 2.5rem;
}

.destination-meta p {
   font-size: 1.75rem;
}

@media (min-width: 35em) {
   .destination {
      background-image: url(../public/assets/destination/background-destination-tablet.jpg);
   }

   .numbered-title {
      justify-self: start;
      margin-top: 2rem;
   }

   .destination-meta {
      flex-direction: row;
      justify-content: space-evenly;
   }
}

@media (min-width: 45em) {
   .destination {
      background-image: url(../public/assets/destination/background-destination-desktop.jpg);
   }

   .destination-meta {
      justify-content: start;
      --gap: min(8vw, 5rem);
   }

   .grid-container--destination {
      grid-template-areas:
         '. title title .'
         '. image content .'
         '. image content .';
   }

   .grid-container--destination > .destination-content .tab-list {
      justify-content: start;
   }

   .grid-container--destination > .destination-image {
      max-width: 90%;
   }
}