.technology {
   background-image: url(../public/assets/technology/background-technology-mobile.jpg);
   background-size: cover;
}

.grid-container--technology {
   --flow-space: 2rem;
   grid-template-areas:
      'title'
      'image'
      'content';
}

.grid-container--technology > .numbered-title {
   grid-area: title;
}

.grid-container--technology > .technology-image {
   grid-area: image;
}

.grid-container--technology > .technology-info {
   justify-items: center;
   grid-area: content;
}

@media (min-width: 35em) {
   .technology {
      background-image: url(../public/assets/technology/background-technology-tablet.jpg);
   }
}

@media (min-width: 45em) {
   .technology {
      background-image: url(../public/assets/technology/background-technology-desktop.jpg);
   }

   .number-indicator {
      flex-direction: column;
   }

   .grid-container--technology {
      --flow-space: 2rem;
      grid-template-areas:
         '. title title .'
         '. content image .'
         '. . image .';
   }

   .grid-container--technology > .technology-info {
      --gap: 5rem;
      grid-template-columns: min-content 1fr;
   }
}