.technology {
   background-image: url(../public/assets/technology/background-technology-mobile.jpg);
   background-size: cover;
}

.grid-container--technology {
   --flow-space: 2rem;
   padding-inline: 0 !important;
   grid-template-areas:
      'title'
      'image'
      'content';
}

.grid-container--technology > .numbered-title {
   grid-area: title;
}

.grid-container--technology > .technology-image {
   grid-area: image;
}

.grid-container--technology > .technology-info {
   --gap: clamp(1.5rem, 4.5vw, 5rem);
   align-items: center;
   flex-direction: column;
   grid-area: content;
}

.technology-info > .technology-details,
.grid-container--technology > .numbered-title {
   padding-inline: 1rem;
}
.technology-info > .technology-details h2 {
   margin-bottom: clamp(0.5rem, 1.5vw, 1rem);
}
.technology-info > .technology-details p:nth-child(2) {
   margin-bottom: clamp(1rem, 3vw, 1.75rem);
}

@media (min-width: 35em) {
   .technology {
      background-image: url(../public/assets/technology/background-technology-tablet.jpg);
   }
}

@media (min-width: 45em) {
   .technology {
      background-image: url(../public/assets/technology/background-technology-desktop.jpg);
   }

   .number-indicator {
      flex-direction: column;
   }

   .grid-container--technology {
      --flow-space: 2rem;
      grid-template-areas:
         '. title title .'
         '. content image .'
         '. content image .';
   }

   .grid-container--technology > .technology-image {
      grid-column: span 2;
   }

   .grid-container--technology > .technology-info {
      flex-direction: row;
   }
}